.row {
margin-left: -15px;
margin-right: -15px;
}
div {
display: block;
}
 .btn-toolbar:before, .clearfix:before, 
 .container-fluid:before, .container:before, 
 .modal-footer:before,  .nav:before, .navbar-collapse:before, 
  .navbar-header:before, .navbar:before, 
   .pager:before,  .panel-body:before,  
   .row:before {
content: " ";
display: table;
}
 :before {
box-sizing: border-box;
}
.btn-toolbar:after, .clearfix:after, 
.container-fluid:after, .container:after, 
.modal-footer:after, .nav:after, 
 .navbar-collapse:after, .navbar-header:after, 
 .navbar:after, .pager:after,
 .panel-body:after, .row:after {
clear: both;
}
.btn-toolbar:after,
  .clearfix:after, 
  .container-fluid:after,  .container:after, 
  
  
   .modal-footer:after,  .nav:after,  
   .navbar-collapse:after, 
   .navbar-header:after,  .navbar:after, 
    .pager:after, 
 .panel-body:after,  .row:after, 
 {
clear: both;
}
 .btn-toolbar:after, 
 .clearfix:after,  .container-fluid:after,
  .container:after,.modal-footer:after, 
     .nav:after,  .navbar-collapse:after,
       .navbar-header:after, 
       .navbar:after, 
       .pager:after,  .panel-body:after, 
        .row:after{
content: " ";
display: table;
}
 :after {

box-sizing: border-box;
}

body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;

}
#thumbs-detail-classified ul {
margin-left: 0;
}
.list-inline {
padding-left: 0;
list-style: none;

}
 ul {
margin-top: 0;
margin-bottom: 10px;
}
ul {
display: block;

-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
 :after, :before {

box-sizing: border-box;
}